{% extends "View/Layout/" ~ __view_layout ~ ".html.twig" %}

{% block session_messages %}
    {% if not form_is_valid(form) %}
        {{ form_errors_message() }}
    {% endif %}
{% endblock %}

{% block content %}

<div class="page-header"><h1>{% block title %}Contacto{% endblock %}</h1></div>
<p>Por favor enviar su mensaje a través del siguiente formulario, será contactado a la brevedad.</p>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    {{ form_captcha(form) }}
    {{ form_csrf(form) }}
    {{ form_submit('Enviar mensaje') }}
{{ form_end(form) }}

{% endblock %}
