{# {% extends "View/Layouts/" ~ __view_layout ~ ".twig" %} #}

{% extends "View/Layouts/LibreDTE.twig" %}

{% block content %}

<h1 class="page-header">Crear {{ data.model.verbose_name|lower }}</h1>

{{ form_init(data) }}
{{ form_start(data.form) }}
    {% for field in data.fields %}
        {% if field.editable %}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}
    {{ form_submit('Crear nuevo registro') }}
{{ form_end(data.form) }}

<script>
function validateModelCreateForm() {
    return true;
}
</script>

{% endblock %}
