{# {% extends "View/Layouts/" ~ __view_layout ~ ".twig" %} #}

{% extends "View/Layouts/LibreDTE.twig" %}

{% block content %}

<script>
$(document).ready(function() {
    new DataTable('#registers', {
        ajax: '{{_url}}/api{{_request}}/index?format=datatables',
        serverSide: true,
        processing: true,
        paging: true,
        pageLength: 20,
        lengthMenu: [10, 20, 25, 50, 75, 100],
        columns: [
            {% for field in data.fields %}

                    {
                        "data": "{{ field.name }}",
                        "title": "{{ field.verbose_name }}",
                        "visible": {{ field.show_in_list ? 1 : 0 }},
                        "render": function(data, type, row) {
                            {% if field.display %}
                                return __.selector(row, '{{ field.display|raw }}');
                            {% elseif field.cast == 'datetime' %}
                                return moment(data).format("D MMMM YYYY, H:mm:ss");
                            {% elseif field.cast == 'date' %}
                                return moment(data).format("D MMMM YYYY");
                            {% else %}
                                return data;
                            {% endif %}
                        }
                    },

            {% endfor %}
        ],
        language: {
            url: '//cdn.datatables.net/plug-ins/2.1.2/i18n/es-MX.json',
        }
    });
});
</script>

<table id="registers" class="display" style="width:100%">
    <thead>
        <tr>
            {% for field in data.fields %}
                <th>{{ field.verbose_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>

{% endblock %}
