{% extends "View/Layout/" ~ __view_layout ~ ".html.twig" %}

{% block content %}

<h1 class="page-header">Editar {{ data.model.verbose_name|lower }}</h1>

<div class="d-flex justify-content-end mb-3">
    <a href="{{ _url }}{{ _route.url.controller }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-table-list"></i>
        Listado de {{ data.model.verbose_name_plural|lower }}
    </a>
</div>

{{ form_start(form) }}
    {% for field in form.fields %}
        {% if field.editable %}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}
    {{ form_csrf(form) }}
    {{ form_submit(form.submit_button.label, form.submit_button.attributes) }}
{{ form_end(form) }}

<script>
function validateModelEditForm() {
    return true;
}
</script>

{% endblock %}
